<h1>Welcome to tech job board!</h1>
<h2>Want a job? Then GIT it</h2>
<img src="/images/money.gif" alt="" />

<a class= "btn btn-default" href="/jobs/new">Add a new job</a>
<a class= "btn btn-default" href="/jobs">View all current jobs</a>
