<h1>Add a new job</h1>

<form action="/jobs" method="post">
  <label>Job Title: </label>
  <input class="form-control" name="title" type="text">

  <label>Job Description: </label>
  <input class="form-control" name="description" type="text">

  <label>Contact number: </label>
  <input class="form-control" name="contact" type="text">

  <label>End time: </label>
  <input class="form-control" name="hour" type="number">

  <button type="submit" class="btn btn-default">Add job!</button>
</form>
