<!--task.vtl-->
<h1>$job.getTitle()</h1>
<h1>$job.getDescription()</h1>
<h1>$job.getContact()</h1>
<h2>$job.returnTimeLeft() hours left.</h2>

<a href="/jobs/new">Add another task</a>
<a href="/jobs">All tasks</a>
<!--task.vtl-->
